.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: green;
}

@font-face {
  font-family: 'GameFont';
  src: local('GameFont'), url('./fonts/game_font.ttf') format('truetype');
}
@font-face {
  font-family: 'CoinFont';
  src: local('CoinFont'), url('./fonts/coin_font.ttf') format('truetype');
}
@font-face {
  font-family: 'InfoFont';
  src: local('InfoFont'), url('./fonts/info_font.ttf') format('truetype');
}

.naziv{
  font-family: 'GameFont';
  font-size: 50px;
  color: rgb(78, 151, 241);
}
.agents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
  margin-bottom: 20px;
}
.izaberiAgenta{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-family: 'GameFont';
  color: rgb(78, 151, 241);
}
.agent {
  width: 100px;
  height: 100px;
  border: 3px solid rgb(7, 245, 7);
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 50px;
}
.agent h3{
  margin-top: 5px;
  font-family: 'GameFont';
}
.agent img {
  width: 100%;
  height: 70%;
  border-radius: 8px;
}
.selected-agent {
  background-color: rgb(78, 151, 241);
  width: 100px;
  height: 100px;
  border: 4px solid rgb(255, 255, 255);
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 50px;
  font-family: 'GameFont';
  animation-play-state: paused;
}
.selected-agent h3{
  margin-top: 5px;
}
.selected-agent img {
  width: 100%;
  height: 70%;
  border-radius: 4px;
}
.mapSelection {
  color: rgb(78, 151, 241);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'GameFont';
}
.mapSelection select{
  background-color:  rgb(78, 151, 241);
  font-family: 'GameFont';
  width: 120%;
  color: rgb(0, 0, 0);
  height: 30px;
}
.mapa {
  width: 80%;
  display: flex;
  flex-direction: row;
}
.terrain {
  display: flex;
  justify-content: center;
  position: relative;
}
.terrain img {
  width: 100%;
  height: 100%;
}
.data {
  width: 20%;
  border: 2px solid black;
  background-color: black;
  color: lightgreen;
  font-family: 'InfoFont';
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.opisiPutanja {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
  width: 100%;
}
.opis {
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 25px;
}
.data h2 {
  margin-top: 0;
  margin-bottom: 0;
}
.novaBoja {
  background-color: red;
}
.dugme {
  display: flex;
  flex-direction: column;
  font-family: 'GameFont';
  justify-content: center;
}
.dugme button {
  width: 1200px;
  height: 50px;
  background-color:rgb(78, 151, 241);
  color: white;
  font-family: 'GameFont';
  font-size: 30px;
  margin-bottom: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.goldCoin {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: gold;
  border-radius: 50%;
  border: 3px solid black;
  text-align: center;
  font-weight: bold;
  font-family: 'CoinFont';
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.goldCoin img {
  z-index: 15;
}
.goldCoin p {
  position: absolute;
  font-family: 'CoinFont';
}
.koraci {
  position: absolute;
  color: white;
  font-size: 25px;
  font-family: 'InfoFont';
}
.pauza {
  color: red;
  font-size: 30px;
  font-family: 'GameFont';
  position: absolute;
  top: 45%;
  font-weight: bold;
}
.slAgent{
  transition: transform 2.5s linear;
  width: 30px;
  height: 30px;
  border-radius: 20px;
}
.paused {
  transition: none !important;
}